<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<a href= "javascript:kakaoLogin();"><img src="https://miro.medium.com/v2/resize:fit:558/1*KPCsW8tbNqzzdXz3DQC3VA.png"></a>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script>  
	window.Kakao.init("9f979ab2d4c9a507cc151ab32eebb072");
	
	function kakaoLogin() {
		window.Kakao.Auth.login({
			scope:'profile_nickname, profile_image',
			success: function(authObj) {
				console.log(authObj);
				window.Kakao.API.request({
					url:'/v2/user/me',
					success: res => {
						const kakao_account = res.kakao_account;
						console.log(kakao_account);
					}
				})
			}
		}) 
	}
	</script>
</body>
</html>