<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!---------------------fontawesome------------------>
    <script src="https://kit.fontawesome.com/fc8d331d05.js" crossorigin="anonymous"></script>
    <!-- templates css -->
    <link href="assets/css/form.css" rel="stylesheet">
    <!--           js              -->
    <script src="assets/js/from.js"></script>

</head>
<body>
    <div class="notice-l-container"> <!--글 박스 집합-->
        <div class="notice-m-container" onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" > <!-- 글 박스 -->
         <div class="notice-first-info"> <!-- 로고 + 이름박스 라인 -->
            <div class="flex flex-col items-center">   <!-- 로고 + 이름박스-->
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="notice-detail-info">Incheon geyangu</span>
            </div>

            <div class="flex flex-col items-center">   <!-- 로고 + 이름박스-->
                    <i class="fa-regular fa-calendar"></i>
                    <span class="notice-detail-info">2024/2/15</span>
            </div>

            <div class="flex flex-col items-center">   <!-- 로고 + 이름박스-->
                    <i class="fa-solid fa-hashtag"></i>
                    <span class="notice-detail-info">1</span>
            </div>

            </div>
            <div class="content-box">
                <h3 class="main-title">[3/23(토)] 2024 Bulls Rase – 제 15회 금융투자인 마라톤대회</h3>
            </div>
            <div class="bottom-logo-info" onclick="event.stopPropagation(); addLike();">
                <div class="people-info">
                    <i class="fa-solid fa-user"></i>
                    <span class="people-count bottom-logo-font">1명</span>
                </div>
                <div class="heart-info">
                    <button class="heartBtn" onclick="event.stopPropagation(); addLike();">
                        <i class="fa-regular fa-heart"></i></button>
                        <span class="like_count bottom-logo-font">좋아요 0개</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>