<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/detail.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fc8d331d05.js" crossorigin="anonymous"></script>   
    <script src="/js/list.js"></script>
   	<script src="/js/map.js"></script>
   
</head>
<body>
   <div class="read-l-container">
    <div class="read-m-container">
        <div class="content-head">
            <div class="container-cate">
                <h3><a href="http://localhost:8080/runningBoard/list">대회 참가</a></h3> 
            </div>
            <div class="container-title">
                <h2>[[${dto.title}]]</h2>
            </div>
            <div class="container-ID">
                <h5>[[${dto.writer}]]</h5>
            </div>

            <div class="notice-first-info">
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="notice-detail-info">[[${dto.location}]]</span>
                </div>

                <div class="flex flex-col items-center">
                    <i class="fa-regular fa-calendar"></i>
                    <span class="notice-detail-info">[[${dto.marathonDate}]]</span>
                </div>

                <div class="flex flex-col items-center">
                    <i class="fa-regular fa-clock"></i>
                    <span class="notice-detail-info">3시45분</span>
                </div>
            </div>
            
        </div>
        <div class="content-post">
            <h5>
				[[${dto.content}]]
            </h5>
            
           
            <div id="map" style="width: 500px; height: 400px;"></div>
			<input type="hidden" id="location" th:value="${dto.location}">
        </div>

        <div class="bottom-logo-info">
            <div class="comment-count">
                <i class="fa-regular fa-comment"></i>
                <span id="comment_count bottom-logo-font">0</span>
            </div>
            <div class="heart-info">
                <button class="heartBtn" onclick="event.stopPropagation(); addLike();">
                    <i class="fa-regular fa-heart"></i></button>
                    <span class="like_count bottom-logo-font">0</span>
                </button>
            </div>
        </div>
        
        <div class="content-comment">
            <input id="comment-input" placeholder="댓글을 입력해 주세요.">
            <button type="button" id="submit" onclick="registerComment()">등록</button>
        </div>
        <div class="content-comment-list" id="content-comment-list">

        </div>
         
    </div>
    <div class="bottom-button">
    		<a th:href="@{/marathonBoard/modify(no =${dto.no})}">
			<button type="button">수정</button>
			</a>

			<a th:href="@{/marathonBoard/list(no=${page})}">
				<button type="button">목록</button>
			</a>
    </div>
    </div>
</body>
</html>
</th:block>
</th:block>
				<script th:inline="javascript">

	$(document).ready(function() {
		showComment();
	})

	function showComment(){
		//컨트롤러에서 전달받은 게시물 정보 저장
		var board = [[${dto}]];
		// 댓글 보기 부분 태그 가져오기
		let comment_div = $('#content-comment-list');
		
		$.ajax({
		type: "GET",
		url: "/mBoardcomment/list?boardNo="+board.no,
		success: function(response){
			
			// 자식 엘리먼트 모두 지우기
			comment_div.empty();
			
			let commentlist = response;
			// 화면에 댓글 목록 출력하기
			for(i in commentlist){
				 let comment = commentlist[i];
				 let writer_div = '<div class="comment-writer">' + comment.writer + '</div>';
				 let content_div = '<div class="comment-content">' + comment.content + '</div>';
				 let delete_btn = '<div class="comment-delete"><a href="javascript:removeComment('+comment.commentNo+')">삭제</a></div>';
				 let comment_html = '<div class="comment-item">' + writer_div + content_div + delete_btn + '</div>';
				 comment_div.append(comment_html);
			}
		}
		});
	}

	function registerComment() {
		var board = [[${dto}]];
		let commentContent = document.getElementById("comment-input");
		let commentDto =
		{
				'commentNo':0,
				'boardNo':board.no,
				'content': commentContent.value		
				
				
		}
	
		$.ajax({
			type: "POST",
			data: commentDto,
			url: "/mBoardcomment/register",
			success: function(response){
				if(response.success){
					commentContent.value = null;
					showComment();
				}
			}
			});
	}

	function removeComment(commentNo){
		var board = [[${dto}]];
		 $.ajax({
		      type: "GET",
		      url: "/mBoardcomment/remove?commentNo="+commentNo,
		      success: function(response){
				if(response.success){
					showComment()
					}
				}
		});
	}

	
</script>

	
