<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- =========================================================================== -->
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <!-- =========================================================================== -->
    <script src="https://kit.fontawesome.com/fc8d331d05.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar-login">
        <a href="index.html">
        <img class="sprint-logo" src="assets/img/sprintLogo.png" alt="Your Logo" id="logo">
        </a>
    </div>
    <div class="login-wrapper">
        <h2>Register</h2>
        <form method="post" action="서버의url" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <input class="login-set" type="submit" value="회원가입">

       

        <div class="social-menu">
           <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-comment"></i></a></li>
                <li><a href="#" class="social-menu-naver"><i class="fa-solid fa-n"></i></a></li>
           </ul>
        </div>
        </form>
    </div>
    
</body>
</html>