<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">


		<!-- 카드 컨테이너 -->
		<div class="notice-l-container">
			<!-- 등록 버튼 -->
			<div class="list-register">
				<a th:href="@{/runningBoard/register}">
					<button class="register-btn">등록</button>
				</a>
			</div>

			<div th:each="dto, iterStat : ${list}"
				 class="card"
				 th:classappend="${iterStat.index % 2 == 0} ? ' card-even' : ' card-odd'"
				 th:onclick="'window.location.href=\'/runningBoard/read?no=' + ${dto.no} +'&page=' + (${list.number + 1}) + '\''"
				 style="cursor: pointer;">
				<!-- 카드 상단 -->
				<div class="card-header">
					<span><i class="fa-solid fa-location-dot"></i> [[${dto.location}]]</span>
					<span><i class="fa-regular fa-calendar"></i> [[${#temporals.format(dto.runningDate, 'yyyy-MM-dd')}]]</span>
					<span># [[${dto.no}]]</span>
				</div>

				<!-- 카드 제목 -->
				<div class="card-title">
					[[${dto.title}]]
				</div>

				<!-- 카드 하단 -->
				<div class="card-footer" onclick="event.stopPropagation();">
					<span><i class="fa-solid fa-user"></i> [[${dto.countView}]]</span>
					<span><i class="fa-regular fa-heart"></i> 0개</span>
				</div>
			</div>
		</div>

		<!-- 페이지네이션 -->

		<ul class="pagination" th:if="${list.totalPages > 0}">
			<th:block th:each="page : ${#numbers.sequence(1, list.totalPages)}">
				<li th:classappend="${list.number+1 == page} ? 'active' : ''" class="page-item">
					<a class="page-link" th:href="@{/runningBoard/list(page = ${page})}">
						[[${page}]]
					</a>
				</li>
			</th:block>
		</ul>

	</th:block>

</th:block>
