<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 	<link href="/css/form-register.css" rel="stylesheet">
</head>
<body>
    <div class="register-l-container" >
    <form class="register-m-container">
       <input type="hidden" name="no" th:value="${dto.no}">
        <div class="form-title">    
           <label>제목</label>
            <input type="text" class="form-con" id="form-title" name="title" th:value="${dto.title}" >
        </div>

        <div class="form-time">
        <label>일시</label>
        <input type="date" name="runningDate" class="form-con" th:value="${dto.runningDate}">
        </div>

        <div class="form-location">
        <label>위치</label>
        <input type="text" class="form-con" id="form-location" name="location" th:value="${dto.location}">
        </div>

        <div class="form-content">
        <label>내용</label>
        <textarea type="text" class="form-con" id="form-content" name="content" rows="10">[[${dto.content}]]</textarea>
        </div>
         
		<div class="register-container">
        <input type="submit" id="submit" class="modifyBtn" value="수정">
        <input type="submit" id="submit" class="listBtn" value="목록으로">
         <input type="submit" id="submit" class="removeBtn" value="삭제">
 		</div>
    </form> 
    </div>
</body>
</html>
  <script th:inline="javascript">

        	var form = $("form");

            $(".modifyBtn").click(function() {
                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                form
                    .attr("action", "/runningBoard/modify")
                    .attr("method","post")
                    .submit();
            });

            $(".listBtn").click(function() {
                form
                    .attr("action", "/runningBoard/list")
                    .attr("method","get")
              		.submit();
            })

            $(".removeBtn").click(function(){
            	form
                    .attr("action", "/runningBoard/remove")
                    .attr("method","post")
                    .submit();
            });

        </script>

</th:block>
</th:block>
