<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="author" content="" />
<title>Document</title>
<!-- =========================================================================== -->
<link rel="stylesheet" type="text/css" href="/css/login.css">
<!-- =========================================================================== -->
<script src="https://kit.fontawesome.com/fc8d331d05.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

</head>
<body>
	<div class="topbar-login">
		<a href="main.html"> <img class="sprint-logo"
			src="/img/sprintLogo.png" alt="Your Logo" id="logo">
		</a>
	</div>
	<div class="login-wrapper">
		<h2>Login</h2>
		<form  th:action="@{/login}" th:method="post" id="login-form">
		
		<input type="text" name="username" placeholder="Email"> 
	    <input type="password" name="password" placeholder="Password">
	    <label for="remember-check">
	     <input type="checkbox" id="remember-check"> 아이디 저장하기
		</label> <a href="/register" id="signup-link">회원가입</a> 
		<input class="login-set" type="submit" value="로그인">
			<div class="social-menu">
				<ul>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-google"></i></a></li>
					<li><a href="javascript:kakaoLogin();"><i class="fa-solid fa-comment"></i></a></li>
					<li><a href="#" class="social-menu-naver"><i
							class="fa-solid fa-n"></i></a></li>
				</ul>
			</div>
			
		</form>
	</div>
</body>
</html>

<script>  
	window.Kakao.init("9f979ab2d4c9a507cc151ab32eebb072");
	
	function kakaoLogin() {
		window.Kakao.Auth.login({
			scope:'profile_nickname, profile_image',
			success: function(authObj) {
				console.log(authObj);
				window.Kakao.API.request({
					url:'/v2/user/me',
					success: res => {
						const kakao_account = res.kakao_account;
						console.log(kakao_account);
					}
				})
			}
		}) 
	}
	</script>